<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>loopr-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC798E3E2022B93A0071D477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC798E542022B93B0071D477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC798E5F2022B93B0071D477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
