<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>35219301406-is57i4t8io55uuvnauhfg4jhg50jb8pn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35219301406-is57i4t8io55uuvnauhfg4jhg50jb8pn</string>
	<key>API_KEY</key>
	<string>AIzaSyDN7MhAcC8Ub_S8dwgeGKQO3KlyKj6O3Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>35219301406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>leaf.prod.app</string>
	<key>PROJECT_ID</key>
	<string>up-wallet</string>
	<key>STORAGE_BUCKET</key>
	<string>up-wallet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35219301406:ios:21987a60830e0ca0</string>
	<key>DATABASE_URL</key>
	<string>https://up-wallet.firebaseio.com</string>
</dict>
</plist>